body, main{
    min-height: 100vh!important;
}
body {
    background-color: #606060 !important;
}
main {
    min-width: 550px;
}


.form-check input{
    width: 30vh;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.border-auto{
    border-radius: 60px !important;
    border: 3px solid!important;
}
button:disabled{
    background-color: #1c7430!important;
    opacity: 1!important;
}

#comments{
    margin-top: 60px!important;
    border-top: #28a745 15px solid!important;
}

#user-image{
    max-width: 100%;

}